DISCTOKEN=authtoken
FILESGENPATH=whereputfiles
JOINS=joinchannelid
SERVERID=serveridtechnicallyjustforsyncingcommandsfast
AUDCHANNELID=auditionschannel
LEVELSDBFILEPATH=whereputlevelsdb
ADMINROLEID=adminroleid
MODROLEID=moderatorroleid
LEADERBOARD_WEBHOOK_URL=webhookurlforleaderboard
